@charset "utf-8";
/*default body styling across all pages*/
body {
	margin:0;
	font-family: Arial;
	padding: 0;
}

header{
	background-color: #80BB5D;
	width: 100%;
}

header img{
	margin-left: 37%;
	
}
/*adjust header image position for small screens*/
@media screen and (max-width: 1340px) {
header img {
	margin-left: 30%;
   }
}

/*adjust header image position for small screens*/
@media screen and (max-width: 620px) {
header img {
	margin-left: 2.5%;
   }
}

/*adjust header image position for small screens*/
@media screen and (max-width: 375px) {
header img {
	margin-left: 1%;
   }
}

/*default padding to bottom border of all pages to allow main text to be visible with sticky footer*/
main{
	padding-bottom: 100px;
}

/* ******************************************************************************************************** */

/* NAVBAR STYLING */

/* ******************************************************************************************************** */

/*Styling of navbar over all pages*/
/* amended from https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
/* Add a black background color to the top navigation */
.topnav {
	background-color: #000000;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
	font-family: Arial_black;
	font-weight: bold;
	float: left;
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 13px 16px;
	text-decoration: none;
	font-size: 17px;
	height: 58px;
}

/* Add an active class to highlight the current page, display background colour in green with white text */
.active {
	background-color: #80BB5D;
	color: #ffffff;
	border: 2px solid #000000;
}

/* Hide the link, hamburger icon, that should open and close the topnav on small screens */
.topnav .icon {
	display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbutton {
	font-size: 17px; 
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: arial_black;
	font-weight: bold;
	margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-list {
	display: none;
	position: absolute;
	background-color: #000000;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-list a {
	float: none;
	color: #ffffff;
	padding: 10px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size: 14px;
}

/* Add a background on topnav links and the dropdown button on hover grey background with white text */
.topnav a:hover, .dropdown:hover .dropbutton {
	background-color: #ddd;
	color: #000000;
}

/* Add a grey background to dropdown links on hover */
.dropdown-list a:hover {
	background-color: #ddd;
	color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-list {
	display: block;
	width: 100%;
}

/* When the screen is less than 1340 pixels wide, hide all links, except for the first one ("Home")and stack all others in hamburger menu (.icon) */
@media screen and (max-width: 1340px) {
  .topnav a:not(:first-child), .dropdown .dropbutton {
	display: none;
  }
  .topnav a.icon {
	float: right;
	display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1340px) {
  .topnav.responsive {
	position: relative;
  }
  .topnav.responsive a.icon {
	position: absolute;
	right: 0;
	top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
	float: none;
  }
  .topnav.responsive .dropdown-list {
	position: relative;
  }
  .topnav.responsive .dropdown .dropbutton {
	display: block;
	width: 100%;
	text-align: left;
  }
}

/* ******************************************************************************************************** */

/* FOOTER STYLING */

/* ******************************************************************************************************** */

/*Styling for fixed footer to base of all pages with set background colour, font colour, size*/
footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #FFFFFF;
	background-color: #000000;
	font-family: arial;
	font-size: small;
	padding-top:.5em;
}

footer a{
	color: #FFFFFF;
	text-decoration: none;
}

.footertext{
	padding: 25px;
	text-align: left;
	color: #FFFFFF;
	width: 55%;
	float: left;
}

.footertext a{
	color: #FFFFFF;
}

.footericons {
	width: 40%;
	float: right;
}
.footericons li {
	text-align: center;
	text-decoration: none;
	display: block;
	float: right;
	padding: 15px;
}

/*adjust footer icons position for small screens*/
@media screen and (max-width: 620px) {
/*Styling for  footer on sitemap page fixed size 360 px*/
/*Styling for fixed footer to base of page with set background colour, font colour, size*/

footer{
	width: 100%;
	text-align: center;
}
.footertext{
	text-align: center;
	width: 100%;
	padding: .5em;
}
.footericons{
	width: 100%;
	
}
.footericons li {
	margin-left: 10%;
	text-decoration: none;
	display: block;
	padding: .5em;
	float:left;
}

}
/* ******************************************************************************************************** */

/* INDEX PAGE STYLING */

/* ******************************************************************************************************** */


* {
    box-sizing: border-box;
}

/*Styling for main section of home page*/
.indexmain{
	width: 100%;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	margin-bottom: 0%;
	padding: 0;
	height: 100%;
}

/*Styling for article section of home page*/
/*set size positioned to left*/
.indexarticle{
	float: left;
	padding: 20px 10px;
   	height: 544px;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	float:left;
	width:59.5%;
	margin:3px;
	text-align:center;
}

/*Styling for aside section of home page*/
/*set size positioned to right of indexarticle on large screens and float under on smaller screens*/
.indexaside {
	background-color: #80BB5D;
	float:right;
	width:39.5%;
	padding:15px;
	margin:0px 3px;
	text-align:center;	
	position: relative;
	height: 100%;
	color: #FFFFFF;
	vertical-align: bottom;
	margin-bottom: 6em;
}

.indexaside img{
	width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
} 

/*re-set for smaller screens */
@media only screen and (max-width:1250px) {
   .indexarticle{
    width:100%;
  } 
  
  .indexaside {
    width:100%;
    padding-bottom: 8em;
  }
  
  /* Centered text */
  .centered {
      position: absolute;
      top: 40%;
      left: 60%;
      transform: translate(-50%, -50%);
} 
}

/*re-set for smaller screens */
@media only screen and (max-width:550px) {
  .indexarticle{
    width:100%;
  } 
  
  .indexaside {
    width:100%;
  }
  
  /* Centered text */
  .centered {
      position: absolute;
      top: 35%;
      left: 55%;
      transform: translate(-50%, -50%);
} 
}

/*re-set for smaller screens */
@media only screen and (max-width:439px) {
  /* For mobile phones: */
  .indexarticle, .indexaside {
    width:100%;
  }
  
  h1{
  font-size: 10px;
  padding: 1px;
  }
  
  p{
    font-size: 12px;
    padding: 1px;
  }
  /* Centered text */
  .centered {
      position: absolute;
      top: 35%;
      left: 54%;
      transform: translate(-50%, -50%);
} 
}
/*styling for h2 element on home page*/
@font-face{
	font-family: dulcelin;
	src: url("css/dulcelin");
	}
	
.indexarticle h2{
	font-family: dulcelin, stalemate, cursive;
	text-align: center;
	font-size: 32px;
	}

/*styling for h3 element on home page*/
.indexarticle h3{
	font-family: arial;
	text-align: center;
	font-size: 24px;
}


/* ******************************************************************************************************** */

/* H1 STYLING ON ALL PAGES*/

/* ******************************************************************************************************** */

/*@font-face{
	font-family: foo;
	src: url("http://typodermicfonts.com/foo/");
	}*/

/*styling for h1 element on all pages*/
h1{
	font-family: Foo, Gravitas One, cursive;
	text-align: center;
	font-size: 38px;
}


/* ******************************************************************************************************** */

/* ABOUT PAGE STYLING */

/* ******************************************************************************************************** */

/*styling for About page - 1 column layout*/
.aboutmain{
	text-align: center;
	padding-left: 45px;
	padding-right: 45px;
	padding-top: 1em;
	padding-bottom: 12em;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	width: 100%;
	height: 100%;
	margin-top: 0;
}

.aboutmain p{
	font-size: 18px;
}

/* ******************************************************************************************************** */

/* THREE COLUMN PAGE STYLING */

/* ******************************************************************************************************** */


/*styling for Commission a Piece & products pages - 3 column layout*/
/*Style the main section with a gradient background colour, height, padding and margin*/

.threecolumnsmain {
	text-align: center;
	width: 100%;
	height: 100%;
	padding-top: 2em;
	padding-bottom: 6em;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	margin-top: 0;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    }
    
/*styling for the images in each coloum*/
.column img {
	width: 100%;
	float: left;
	padding: 25px;
	max-height: 960px;
	border-radius: 45px;
}

/*styling for the captions under each picture*/
.column p{
	text-align: center;
	width: 100%;
	float: left;
	
}

/* Clear floats after the columns */
.row:after {
	display: table;
	clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 620px) {
    .column {
        width: 100%;
    }
    
    .column img {
	margin: 0;
	width: 100%;
    }
}


/* ******************************************************************************************************** */

/* PORTFOLIO PAGE STYLING */

/* ******************************************************************************************************** */

/*Styling for the portfolio page*/
.foliomain{
	padding-top: 2em;
	padding-bottom: 6em;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	margin-top: 0;
}
.mySlides {
	display: none
}
img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
	max-width: 650px;
	position: relative;
	margin: auto;
}

/*styling for the individual images in the slideshow with a rounded egde*/
.slideshow-container img {
	border-radius: 35px;
	padding: 10px;
}

/* Styling Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #000000;
	font-weight: bold;
	font-size: 24px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: #80BB5D;
}

/* Caption text */
.text {
	color: #000000;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

/*change the colour on hover and active circles*/
.active, .dot:hover {
	background-color: #80BB5D;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {
	font-size: 11px
   }
}

/* ******************************************************************************************************** */

/* TWO COLUMN CONTACT PAGE STYLING */

/* ******************************************************************************************************** */


/*Styling for the contact page form into two columns*/
.twocolumn{
	width: 100%;
	background: linear-gradient(to bottom, #80bb5d 10%, #dddddd 100%);
	margin: 0;
	padding: 0;
}

/*set column one to the left*/
.col1{
	background-color: #ddd; 
	float:left;
	width:59%;
	padding:15px;
	margin:3px;
	text-align:left;
	margin-bottom: 0%;
	height: auto;
}

/*set column two to the rught on large screens and float under on smaller screens*/
.col2 {
	background-color: #ddd; 
	float:left;
	width:40%;
	padding:15px;
	margin:3px;
	text-align:center;
	margin-bottom: 10em;	
}

/* styling for textbox to take full width of container*/
.fullwidth{
	width: 100%;
}

/*styling for labels & corresponding inputs*/

.enquiryform label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
    padding: 10px;
}

.enquiryform input {
  display: inline-block;
  float: left;
}

.enquiryform select{
	display: inline-block;
  	float: left;
}

/*styling for enquiry form on left of page*/
.enquiryform {
	float: left;
	width: 100%;
	background-color: #ddd; 
	margin: 0px;
	border: 1px solid #ffffff;
	padding: 0px;
}

/*set width of fieldset, background color, margin, border and padding, clear floats and align text to left*/
.enquiryform fieldset {
	text-align: left;
	border: 0.2em solid black;
	width: 90%;
	background-color: white;
	clear: both;
	padding: 10px;
	margin: 20px;
}


/*set style div containing First Name, blocked, set width, float left, font weight, color & size, set left margin*/	
.name {
	display: block;
	width: 8em;
	float: left;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

/*set style div containing email, blocked, set width, float left, font weight, color & size, set left margin*/	
.emailadd {
	display: block;
	width: 8em;
	float: left;
	font-weight: bold;
	font-size: 20px;
	color: black;
}

/*set style div containing gift cat, blocked, set width, font weight, color & size, set left margin*/	
.giftcat {
	display: block;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	color: black;
}


/*styling for survey form on right of page*/
.surveyform {
	float:left;
	width: 100%;
	background-color: #ddd; 
	margin: 0px;
	border: 1px solid #ffffff;
	padding: 0px;
}

/*set width of fieldset, background color, margin, border and padding, clear floats and align text to left*/
.surveyform fieldset {
	text-align: left;
	border: 0.2em solid black;
	width: 90%;
	background-color: white;
	clear: both;
	padding: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

/*style font in legends with color, align left and size 30, background color, border around text*/
legend {
	border: 0.2em solid black;
	background-color: #80BB5D;
	padding: 0.2em 0.5em;
	text-align: left;
	font-size: 30px;
	font-family: Foo, Gravitas One, cursive;
}

/*style font in form, center and size 20*/
.enqsurvey h3 {
	text-align: center;
	font-family: dulcelin, stalemate, cursive;
	font-size: 20px;
}

.enqsurvey h4 {
	  clear: both;
	  text-align: left;
}

/*style on focus border and background color*/
:focus {
	border: 3px solid white;
	background-color: #DDD;
	color: #000000;
}


/*center text in buttons div*/	
.buttons {
	text-align: center;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 620px) {
    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
    }
}

